<html>
 <body>
   <p>
     Here you can see the list of activists. There are currently <%= @number_of_users %> activists subscribed. 
   </p>


   <h1> Here is the list of activists subscirbed </h1>
   
   <% if @activists.any? %>
     <ol>
       <% @activists.each do |activ| %>
         <li><%= activ %></li>
       <% end %>
     </ol>
   <% end %>

   <p>
     Not yet subscribed? <a href="/signup">Sign-up!</a>
   </p>

   <form action="/signup" method="post">
     <input name="name" />
     <input type="submit" />
   </form>

 </body>
</html>