<html>
 <body>
   <p>Here you can see the list of activists. There are currently <%= @user_id %> users. </p>

   <p><a href="/signup">Sign up</a> here please!</p>
   <h2> Here is the list of activists subscirbed </h2>
   
   <% if @users.any? %>
     <ol>
       <% @users.each do |user| %>
         <li><%= user %></li>
       <% end %>
     </ol>
   <% end %>
 </body>
</html>