<html>
 <body>
   <p>
     Here you can see the list of activists. There are currently <%= @user_id %> activists subscribed. 
   </p>


   <h2> Here is the list of activists subscirbed </h2>
   
   <% if @users.any? %>
     <ol>
       <% @users.each do |user| %>
         <li><%= user %></li>
       <% end %>
     </ol>
   <% end %>

   <form action="/signup" method="post">
     <input name="name" />
     <input type="submit" />
   </form>

 </body>
</html>