<html>
<body style="text-align: center;">

	<h1>Welcome to Shouter</h1>
	<% if @message %>
		<%= @message %>
	<% end %>
	<p><a href="/signup">Sign up</a> Here first or <a href="/login">Login</a> if you already have an account</p><br/>

	<h2>Shout out loud! <%= @user.name %></h2>
	<textarea name="shout">
	</textarea><br/>
	<input type="submit">
</body>
</html>