<html>
<body style="text-align: center;">

	<h1>Welcome to Shouter</h1>
	
	<p><a href="/signup">Sign up</a> Here first or <a href="/login">Login</a> if you already have an account</p><br/>


	<h2>Shout out loud!</h2>

	<form method="post" action="/shout" >
	<textarea name="message">
	</textarea><br/>
	<input type="submit">
</form>
<div style="border: 1px solid red;">
		<% @shouts.each do |shout| %>
		<p><%= shout.message%></p>
		<ul>
			<li style="list-style-type: none;"><%= shout.created_at %></li><br/>

		</ul>
		<% end %>

</div>
</body>
</html>