<html>
<body>

	<h1>Welcome to Shouter</h1>
	<p><a href="/signup">Sign up</a> Here first!</p>

	<h2>Shout out loud!</h2>
	<textarea name="shout">
	</textarea><br/>
	<input type="submit">
</body>
</html>