<html>
<body style="text-align: center;">

	<h1>Welcome to Shouter</h1>
	
	<p><a href="/signup">Sign up</a> Here first or <a href="/login">Login</a> if you already have an account</p><br/>


	<h2>Shout out loud!</h2>

	<form method="post" action="/shout" >
	<textarea name="message">
	</textarea><br/>
	<input type="submit">
</form>
	<div>
		<% @shouts.each do |shout| %>
		<p><%= shout.message%></p>
		<ul style="list-style-type: none;">
			<li><%= shout.created_at %></li>
			<li>Likes: <%= shout.likes %></li>
			<li><a href="/likes/"> <p>like</p></a></li>
		</ul>
		<% end %>

	</div>
</body>
</html>