<html>
<body style="text-align: center;">


	<h3>Login in if you already have an account</h3>

	<% @error %>
		<%= @error %>
	<%end%>

	<form action="/login" method="post">
		Username<input  type="text" name="handle"/>
		Password<input type="password" name="password"/>
		<input type="submit"/>
	</form>

</body>
</html>