<html>
<body style="text-align: center;">

	<h2>Sign up here</h2>
	<form action="/signup" method="post">
		Name: <input name="name"/>
		Username: <input type="text" name="handle"/>

		<input type="submit"/><br/>
	</form>
	<table>
</body>
</html>