<html>
<body style="text-align: center;" >

	<h2>Please fill in the form</h2>
	<form action="/signup" method="post">
		Name: <input name="name"/><br/>
		Username: <input type="text" name="handle"/><br/>
		<input type="submit" value="Sign up" /><br/>
	</form>
	<h6 style="color: grey;">After signed up, you will be redirected to Login screen</h6>

</body>
</html>